/* .listItemContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
  position: relative;

  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: transform 0.1s ease-in-out;
} */

/* .listItemContainer:hover {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.01);
} */

/* .moreInfoLink {
  font-size: 1.8rem;
  font-weight: 500;

  position: absolute;
  bottom: 0.7rem;
  right: 1rem;
}

.moreInfoLink:hover {
  color: #a34e20;
} */
