.mainImageContainer {
  width: 22.5rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
}

.imageMainSmall {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}
.addPhotosText {
  position: absolute;
  z-index: 20;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  font-weight: 500;
  color: #414141;
}

.listItemContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
  position: relative;

  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: transform 0.1s ease-in-out;
}

.listItemContainer:hover {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.01);
}

.moreInfoLink {
  font-size: 1.8rem;
  font-weight: 500;

  position: absolute;
  bottom: 0.7rem;
  right: 1rem;
}

.moreInfoLink:hover {
  color: #a34e20;
}

.iconTextContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.2rem;
}

.iconTextContainer img {
  width: 2.2rem;
}
