.authContainer {
  width: 100%;
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.authFormContainer {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;

  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.authButtonContainer {
  width: 100%;
}

.authFormContainer input {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
}

.authFormContainer button {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 1.5rem;
  background-color: #2b6027;
}

.authFormContainer .btnLoginGoogle {
  display: flex;
  gap: 1.2rem;
  background-color: #fff;
  color: #2b6027;
  border: 1px solid #2b6027;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 1.5rem;
  color: #2b6027;
}

.divider p {
  font-size: 1.8rem;
  font-weight: 500;
}

.divider::before,
.divider::after {
  content: '';
  display: flex;
  gap: 2rem;
  height: 1px;
  width: 50%;
  background-color: rgba(43, 96, 39, 0.6);
}

.divider::before {
  margin-right: 2rem;
}

.divider::after {
  margin-left: 2rem;
}
