.errorModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.errorModalContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 2100;
}

.errorModalContent p {
  max-width: 50rem;
}
.errorModalContent button {
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: #2b6027;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}
.errorModalContent button:hover {
  background-color: #53b84c;
}
