.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  height: 8rem;
  background-color: #fff;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Temp fix to ensure style overrides default from btn-default class */
li .btnLogin {
  background-color: #618c61;
}

li .btnLogout {
  background-color: #e95936;
}
