.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  height: 8rem;
  background-color: #111518;
  border-bottom: 2px solid #353434;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logoMain {
  background: linear-gradient(
    90deg,
    rgb(255, 184, 143) 0%,
    rgb(234, 88, 83) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 3rem;
  font-weight: 700;
}

.logoMain:hover {
  background: linear-gradient(
    90deg,
    rgb(234, 88, 83) 0%,
    rgb(255, 184, 143) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Temp fix to ensure style overrides default from btn-default class */
li .btnLogin {
  background-color: #2b6027;
}

li .btnLogout {
  background-color: #e95936;
}
