:global(.leaflet-popup .leaflet-popup-content) {
  width: 15rem;
  height: 100%;
  margin: 0; /* Reset default margin */
}

:global(.leaflet-popup-content p) {
  margin: 0;
}

:global(.leaflet-popup-close-button) {
  z-index: 1000;
  color: #f68a51 !important;
}

:global(.leaflet-container) {
  font-family: inherit !important;
}
